.reveal .slides section .fragment.slide-in {
  position: relative;
}

.reveal .slides section .fragment.slide-in.slide-in-top {
  top: -400px;
}

.reveal .slides section .fragment.slide-in.slide-in-left {
  left: -400px;
}

.reveal .slides section .fragment.slide-in.slide-in-right {
  left: 400px;
}

.reveal .slides section .fragment.slide-in.slide-in-bottom {
  top: 400px;
}

.reveal .slides section .fragment.slide-in.visible {
  top: 0;
  left: 0;
}

.row::before, .row::after {
  content: "";
  display: table;
  line-height: 0;
}
.row::after {
  clear: both;
}
[class*="span"] {
  float: left;
}
.span-25 {
  width: 25%;
}
.span-33 {
  width: 33%;
}
.span-50 {
  width: 50%;
}
.span-67 {
  width: 67%;
}
.span-75 {
  width: 75%;
}
.span-100 {
  width: 100%;
}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

.reveal .slides section .fragment.highlight-tacc {
  opacity: 1;
}

.reveal .slides section .fragment.highlight-tacc.visible {
  background-color: #f77f00;
}

.reveal .slides section .uter {
  position: absolute;
  top: 195px;
  left: 45px;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  width: 600px;
}

.reveal .slides section .uter img {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -ms-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;

  text-align: left;
  display: block;
}

.reveal .slides section .uter.jump {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}


.reveal .slides section .uter.jump img {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.reveal .slides section .uter.ready {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -ms-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;

  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}


.reveal .slides section .uter.ready img {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -ms-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;

  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.reveal .slides section .uter.jump1 {
  top: 290px;
  left: -20px;
}

.reveal .slides section .uter.ready1 {
  top: 132px;
  left: 359px;
}

.reveal .slides section .uter.jump2 {
  top: 230px;
  left: 305px;
}

.reveal ul {
  list-style-type: none;
  margin: 0 0 0 2em;
}

.reveal ul li:before {
  content: '\2605 \0020';
  font-size: .7em;
  padding-right: 5px;
  margin-left: -1.5em;
}

.stack {
  position: relative;
  width: 960px;
  height: 620px;
}

.stack .rotate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reveal .agave-io-droplet {
  border: 4px dashed #333;
  background-color: #DDD;
  color: #333;
  font-size: .7em;
}

.reveal .agave-io-droplet:hover {
  border: 4px solid #000;
  background-color: #333;
  color: #DDD;
  opacity:.8;
}

.reveal .agave-io-droplet p {
 padding: 100px 25px;
}

.reveal ul.two-column {
width: 900px;
float: left;
}

.reveal ul.two-column li {
width: 425px;
margin-right: 10px;
float: left;
}

.reveal ul.three-column {
width: 900px;
float: left;
}

.reveal ul.three-column li {
width: 275px;
margin-right: 10px;
float: left;
}